
<table class="table table-striped" style="width:100%">
<thead class="thead-dark">
<tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Duration (min)</th>
    <th>Hot Water</th>
    <th>Heating</th>
</tr>
</thead>
<tbody>
{% for state in boilerStates%}
<tr>
    <td>{{state.0.start_time|date:"d M H:i"}}</td>
    <td>{{state.0.end_time|date:"d M H:i"}}</td>
    
    <td>{{state.1|stringformat:"d"}}</td>
    
    <td>{{state.0.hot_water_state|yesno:"ON,OFF"}}</td>
    <td>{{state.0.heating_state|yesno:"ON,OFF"}}</td>
</tr>
{%endfor %}
<tbody>
</table> 