<div class="col-md-6 col-sm-12 col-xl-4 mb-3">
    <div class="card" style="min-width=600px">
        <div class="card-body">

            <h4 class="card-title mb-3">
                {% comment %} <a href="/history/"> {% endcomment %}
                Boiler Usage History
                {% comment %} </a> {% endcomment %}
                </h4>
                {% include  "historyTable.html" with limit=5%} 
            
            <a class="btn btn-primary btn-md float-right" href="/history/">View All</a>
        </div>
    </div>
</div>