
{% load static %}
<link rel="stylesheet" href="{% static 'css/react-bootstrap-range-slider.css' %}">

<div class="col-md-6 col-sm-12 col-xl-4 mb-3">
    <div class = 'card' >
        <div class='card-body'>
            <h4 class="card-title mb-3">
                Boost
            </h4>
            <div class="content" id='boost-states-card-content'>
            
            </div>
            <div class="text-center" id='boost-states-card-spinner'>
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        
    </div>
</div>

