<div class="col-md-6 col-sm-12 col-xxl-3 col-lg-4 mb-3">
    <div class="card" style="min-width=600px">
        <div class="card-body">
            <h4 class="card-title mb-3">
                Nest Thermostat
            </h4>
            <div id="nest-card-content">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            
            <!-- <input type="number" value="20" min="10" max="30" step="0.25" data-decimals="2" data-suffix="°C"/> -->
            <!-- {% comment %} <a class="btn btn-primary btn-md float-right" href="/history/">View All</a> {% endcomment %} -->
        </div>
    </div>
</div>

<!-- <script>
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/google_nest/"
    const responseType = "json"

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const contentEl = document.getElementById("nest-card-content")
        const serverResponse = xhr.response
        if (this.status === 200){
            thermostatSetTemp = serverResponse.traits["sdm.devices.traits.ThermostatTemperatureSetpoint"]["heatCelsius"]
            ambientTemp = serverResponse.traits["sdm.devices.traits.Temperature"]["ambientTemperatureCelsius"]
            contentEl.innerHTML = "<h5>Ambient Temp: "+ ambientTemp.toFixed(1) +"</h5>"
            contentEl.innerHTML += "<h5>Thermostat Set Temp: "+ thermostatSetTemp.toFixed(1)  +"</h5>"
        }
        else{
            contentEl.innerHTML = "ERROR: " + serverResponse.message
        }

    }
    xhr.send()

</script> -->
