{% extends "base.html" %}
{% block content%}
<div class = 'row'>
    <div class="col-12 mb-4 mx-auto">
        <h1>Hello, 
        {% if user.is_authenticated%}
            {{user}}
        {% endif %}
        </h1>
        <h3>Welcome to the Dashboard</h3>
    </div>
</div>

<div class='row justify-content-center'>
    {{ currentStatesRendered }}

    {{ boostRendered }}

    {%include "homepage/hotWaterSchedule.html"%}
    

    {%include "homepage/boilerHistoryCard.html"%}

    {{ agileRatesRendered }}

    
    {%include "homepage/googleNestCard.html"%}

</div>

{% comment %} <script>
    var els = document.getElementsByClassName("col-md-6 col-sm-12 col-xxl-3 col-lg-4 mb-3")
    
    for (var i = 0; i < els.length; i++){
        els.item(i).className = "col-xxl-3 col-lg-4 col-md-6 col-sm-12 mb-3"
    }
</script> {% endcomment %}
{% endblock %}